[*]
end_of_line = crlf

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = none

# CA1824: Mark assemblies with NeutralResourcesLanguageAttribute
dotnet_diagnostic.CA1824.severity = none

# IDE0065: Misplaced using directive
csharp_using_directive_placement = outside_namespace:none

# IDE0021: Use block body for constructors
csharp_style_expression_bodied_constructors = false:none

# IDE0032: Use auto property
dotnet_style_prefer_auto_properties = true:none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# SX1309: Field names should begin with underscore
dotnet_diagnostic.SX1309.severity = none

[*.xml]
indent_style = space